#pagetitle{
	text-decoration: underline;
	font-size: 60pt;
}
a{
	text-decoration: none;
}
header{
	background-image: url(imgs/headerbg.png);
	background-size: cover;
	text-align: center;
	color: rgb(253,151,31);
	background-color: rgb(39,40,34);
}
#topul{
	margin: 0;
	padding: 7px 0px 1px 0px;
	background-color: rgba(0,0,0,0.7);
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,1));
	background: -webkit-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,1));
	background: -moz-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,1));
	text-align: center;
}
.nav{
	font-family: 'Orbitron', sans-serif;
	color: rgb(255, 204, 0);
	padding: 10px 10px 1px 10px;
}
.nav:hover{
	background-color: rgb(255, 204, 0);
	color: rgb(39,40,34);
	background: linear-gradient(rgba(255,204,0,0.6), rgba(255,204,0,1));
	background: -webkit-linear-gradient(rgba(255,204,0,0.6), rgba(255,204,0,1));
	background: -moz-linear-gradient(rgba(255,204,0,0.6), rgba(255,204,0,1));
	transition: 0.5s;
}
#currenttab{
	background-color: rgb(255, 204, 0);
	color: rgb(39,40,34);
	background: linear-gradient(rgba(255,204,0,0.6), rgba(255,204,0,1));
	background: -webkit-linear-gradient(rgba(255,204,0,0.6), rgba(255,204,0,1));
	background: -moz-linear-gradient(rgba(255,204,0,0.6), rgba(255,204,0,1));
}
.bars{
	display: inline-block;
}
#content{
	background-color: white;
	border: solid;
	width: 728px;
	color: black;
}
article{
	text-align: justify, center;
	max-width: 600px;
	margin-bottom: 5px;
}
body img{
	display: block;
	margin: auto;
}
#bg{
	font-family: 'Droid Serif', serif;
	text-align: justify, center;
	margin: 0%;
	background-image: url(subtlebackgrounds/hixs_pattern_evolution.png);
	color: white;
}
#logo{
	padding-top: 20px;
	width: 460px;
	height: 280px;
}
/*#biotitle{
	color: rgb(174,129,255);
	text-shadow:  
		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000; // Kept here in case I want my purple color, or text shadow
     }*/
footer{
	margin-top: 5%;
	padding: 10px 0px 1px 0px;
	background-color: rgb(0,0,0);
	text-align: center;
}
#contact{
	color: white;
	padding: 10px 0px 1px 0px;
}
#contact:hover{
	background-color: white;
	color: black;
	transition: 0.5s;
}
.socialicons{
	width: 36px;
	height: 36px;
	display: inline-block;
}
.names, .ntitle{
	font-family: 'Nova Slim', cursive;
}
.social{
	color: black;
	font-family: 'Nova Slim', cursive;
	line-height: 36px;
}
#poster{
	margin-bottom: 5px;
}
.pR{
	width: 720px; 
	height: 600px; 
}