#pagetitle{
	text-decoration: underline;
	font-size: 60pt;
}
a{
	text-decoration: none; /*allows me to restyle my links later*/
}
header{
	background-image: url(imgs/headerbg.png);
	background-size: cover;
	text-align: center;
	color: rgb(253,151,31);
}
#topul{
	padding: 10px 0px 1px 0px;
	background-color: rgba(0,0,0,0.7);
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,1));
	background: -webkit-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,1)); /*for other browsers*/
	background: -moz-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,1)); /*for Firefox*/
	text-align: center;
}
.nav{ /*Modern navigation bar*/
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;
	color: rgb(255, 204, 0);
	padding: 10px 10px 1px 10px;
}
.nav:hover{ /*Hover effects make any "clickable" clear*/
	background-color: rgb(255, 204, 0);
	color: rgb(39,40,34);
	background: linear-gradient(rgba(255,204,0,0.6), rgba(255,204,0,1));
	background: -webkit-linear-gradient(rgba(255,204,0,0.6), rgba(255,204,0,1)); /*for other browsers*/
	background: -moz-linear-gradient(rgba(255,204,0,0.6), rgba(255,204,0,1)); /*for other browsers*/
	transition: 0.5s;
}
#currenttab{ /*this entire block is to give clarity to which tab you're on*/
	background-color: rgb(255, 204, 0);
	color: rgb(39,40,34); 
	background: linear-gradient(rgba(255,204,0,0.6), rgba(255,204,0,1));
	background: -webkit-linear-gradient(rgba(255,204,0,0.6), rgba(255,204,0,1));
	background: -moz-linear-gradient(rgba(255,204,0,0.6), rgba(255,204,0,1));
}
.bars{ /*Makes nav bar horizontal*/
	display: inline-block;
}
#content{ /*All content is isolated in it's own block, center page*/
	background-color: white;
	border: solid;
	border-color: rgb(253,151,31);
	width: 728px;
	color: black;
	margin-top: 20px;
}
article{ /*Text doesn't touch any edges*/
	text-align: justify, center;
	max-width: 600px;
	margin-bottom: 5px;
}
#bg{
	font-family: 'Droid Serif', serif;
	margin: 0%; /*helps everything bleed off the page*/
	background-image: url(subtlebackgrounds/hixs_pattern_evolution.png);
}
#logo{ /*comfortably large size*/
	padding-top: 20px;
	width: 460px;
	height: 280px;
}
.butt{ /*buttons*/
	top: 380px;
    left: 100px;
    height: 140px;
    font-size: 80px;
    color: white;
    background-color: black;
    position: absolute;
}
#leftcheek{ /*hahaha*/ /*left button position*/
	margin-top: 300px;
	margin-left: 70px;
}
#rightcheek{ /*hahaha*/ /*right button position*/
	margin-top: 300px;
	margin-left: 925px;
}
footer{
	margin-top: 5%;
	background-color: rgb(0,0,0);
	text-align: center;
	color: white;
	display: flex;
}
#contact{
	color: white;
	font-size: 24pt;
	flex: 1;
}
#socialcontact{ /*Social media icons in the footer*/
	flex: 1;
}
#contact:hover{
	text-decoration: underline;
	transition: 0.5s;
}
.socialicons1, .socialicons{ /*Standard size for social media icons, footer & about page*/
	width: 36px;
	height: 36px;
	display: inline-block;
}
.socialicons{ /*space btwn the icons in the footer*/
	padding-right: 2px;
}
.member{ /*About Us text*/
	font-family: 'Nova Slim', cursive;
	min-height: 250px;
}
.headshot{ /*standard size for staff images*/
	width: 130px;
	height: 200px;
	position: absolute;
	margin-left: 90px;
	display: block;
}
.names{
	font-size: 16pt;
}
.sotag{ /*the text on the About Us, next to the social media icons*/
	color: black;
	line-height: 36px;
	font-weight: bold;
}
#poster{
	margin-bottom: 5px;
}
.pR{ /*standard images for the slideshow, doesn't affect the elements around them*/
	width: 720px; 
	height: 600px; 
	margin-bottom: 10px;
}
/*The following 16 lines are to stick the footer to the bottom of the page*/
* {
margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
footer, .push {
	height: 4em;
	clear: both;
}
/*the rest of this page is so you know you can click the social media links on About Us*/
#devtwitter, #helptwitter, #autwitter{ 
	color: blue;						
}
#devtwitter:hover, #helptwitter:hover, #autwitter:hover{
	background-color: blue;
	color: white;
	transition: 0.5s;
}
#autwitch{
	color: purple;
}
#autwitch:hover{
	background-color: purple;
	color: white;
	transition: 0.5s;
}